<div class="container">
  <div class='panel-white'>
    <div class="board">
      <div *ngFor="let cellRow of cells; let cellRowIndex = index" class="cell-row">
        <div [ngClass]="cells[cellRowIndex][cellIndex]" (click)="cellSelected(cellRowIndex, cellIndex)" *ngFor="let cell of cellRow; let cellIndex = index" class="cell">
        </div>
      </div>
    </div>
    <div class="meta">
    <div class="game-title">{{games.totalGames}} Games Tournament</div>
      <div *ngIf="!gameEnd" class="round-title">Playing Game {{games.currentGame}}</div>
      <div *ngIf="gameEnd" class="congratulation-section">
        <div class="congrats-text">Congratulation!</div>
        <div *ngIf="tornamentEnd"><span>{{tournamentWinnerName}}, you won tournament</span></div>
        <div *ngIf="!tornamentEnd"><span>{{roundWinnerName}}, you won Game {{games.currentGame}}</span></div>
      </div>
      <div class="player player1">
        <div [ngClass]="turn === 'P1' ? 'active' : ''"class="icon-border">
          <div class="icon"></div>
        </div>
        <div class="desc">
          <div class="p-info">
            <div class="info">Player 01</div>
            <div class="name">{{games.firstPlayerName}}</div>
          </div>
          <div class="score">
            <div class="text">Score</div>
            <div class="total">{{games.firstPlayerScore}}</div>
          </div>
        </div>
      </div>

      <div class="player player2">
        <div [ngClass]="turn === 'P2' ? 'active' : ''" class="icon-border">
          <div class="icon"></div>
        </div>
        <div class="desc">
          <div class="p-info">
            <div class="info">Player 02</div>
            <div class="name">{{games.secondPlayerName}}</div>
          </div>
          <div class="score">
            <div class="text">Score</div>
            <div class="total">{{games.secondPlayerScore}}</div>
          </div>
        </div>
      </div>

      <div class="separator"></div>
      <div class="buttons">
        <div (click)="startNewGame()" *ngIf="!tornamentEnd" class="btn undo">Next Game</div>
        <div (click)="endGame()" *ngIf="!tornamentEnd" class="btn end">End Tournament</div>
      </div>
    </div>
  </div>
</div>

