@import "~src/styles/colors";
@import '~src/styles/mixin';

.panel-white {
  @include panel(#FFFFFF);
  height: 500px;
  width:80%;
  box-shadow: 0px 3px 10px #00000029;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
}

.board {
  background-color: #84A4FC;
  width: 480px;
}
.cell-row {
  display: flex;
}
.cell {
  cursor: pointer;
  background-color: $white;
  border-radius: 50%;
  margin: 5px;
  height: 50px;
  width: 50px;
}
.meta {
  width: 400px;
}
.player {
  border: 1px solid #70707026;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  margin: 15px 0;
  .icon-border {
    position: relative;
    border: 10px solid #222;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    &::before {
      content: "";
      border: 10px solid transparent;
      border-radius: 50%;
      position: absolute;
      height: 70px;
      width: 70px;
      top: -20px;
      left: -20px;
    }
    .icon {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-size: 74%;
      background-position: center;
    }
  }
  .desc {
    display: flex;
    width: calc(100% - 80px);
    justify-content: space-around;
    padding-left: 10px;
    margin-top: 10px;
    .info, .text {
      @include alignToCenter;
      color: $dark-text;
      opacity: 0.56;
    }
    .name, .total {
      @include alignToCenter;
      font-size: 18px;
    }
  }
}
.player1 {
  background: $light-green-one;
  .icon-border {
    border-color: $light-green-two;
    .icon {
      background-image: url('/assets/images/avatar01.png');
    }
  }
}

  .player2 {
    background: $light-yellow-one;
    .icon-border {
      border-color: $light-yellow-two;
      .icon {
        background-image: url('/assets/images/avatar02.png');
        background-size: 86%;
      }
    }
  }

  .icon-border.active {
    &::before {
      border-color: #FFA200 !important;
    }
  }

  .cell.P1 {
    &::before {
      content: "";
      background-image: url('/assets/images/avatar01.png');
      background-color: $light-green-one;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      position: absolute;
      background-position: center;
      background-size: 72%;
      border: 10px solid;
      border-color: $light-green-two;
      border-radius: 50%;
    }
  }

  .cell.P2 {
    &::before {
      content: "";
      background-image: url('/assets/images/avatar02.png');
      background-color: $light-yellow-one;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      position: absolute;
      background-position: center;
      background-size: 78%;
      border: 10px solid;
      border-color: $light-yellow-two;
      border-radius: 50%;
    }
  }

  .buttons {
    @include alignToCenter;
    flex-direction: column;
  }

  .game-title {
   @include alignToCenter;
   color: #424242;
   font-size: 24px;
   margin-top: 10px;
  }
  .round-title {
    @include alignToCenter;
    color: #505351;
   font-size: 18px;
   }


   @mixin button {
    @include alignToCenter;
    width: 70%;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  .end {
    @include button;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4B7BFF26;
    color: #CC0000;
    white-space: nowrap;
  }
  .undo {
    @include button;
    color: $white;
    background-color: $light-blue-two;
  }

  .congratulation-section {
    @include alignToCenter;
    flex-direction: column;
    .congrats-text {
      font-size: 28px;
      color: #FF6600;
    }
  }
